In [57]:
import numpy as np
import pandas as pd

In [21]:
tweet_data = pd.read_json('AOC_recent_tweets.txt')

In [22]:
print(tweet_data)

                    created_at                   id               id_str  \
0    2021-02-06 20:22:38+00:00  1358149122264563712  1358149122264563712
1    2021-02-06 20:16:39+00:00  1358147616400408576  1358147616400408576
2    2021-02-06 20:07:35+00:00  1358145332316667909  1358145332316667904
3    2021-02-06 20:07:07+00:00  1358145218407759875  1358145218407759872
4    2021-02-06 20:03:06+00:00  1358144207333036040  1358144207333036032
...                        ...                  ...                  ...
3242 2019-10-09 14:14:19+00:00  1181935928249606146  1181935928249606144
3243 2019-10-09 14:00:54+00:00  1181932554552827905  1181932554552827904
3244 2019-10-09 14:00:32+00:00  1181932460516478976  1181932460516478976
3245 2019-10-09 13:41:17+00:00  1181927615340453899  1181927615340453888
3246 2019-10-09 05:32:34+00:00  1181804625588051968  1181804625588051968

                                              full_text  truncated  \
0     RT @RepEscobar: Our country has the moral obli...      False
1     RT @RoKhanna: What happens when we guarantee $...      False
2                     (Source: https://t.co/3o5JEr6zpd)      False
3     Joe Cunningham pledged to never take corporate...      False
4     What’s even more gross is that Mace takes corp...      False
...                                                 ...        ...
3242  Autocrats: “Jump!”\nTrump: “How high?”\n\n- Tr...      False
3243  RT @HeidiNBC: NEW: Donald Trump's decision to ...      False
3244  Trump decision isn’t about drawing down US mil...      False
3245  Federal govs are failing to act on the climate...      False
3246  RT @LeanInOrg: Thank you @AOC for highlighting...      False

     display_text_range                                           entities  \
0              [0, 140]  {'hashtags': [], 'symbols': [], 'user_mentions...
1              [0, 140]  {'hashtags': [], 'symbols': [], 'user_mentions...
2               [0, 33]  {'hashtags': [], 'symbols': [], 'user_mentions...
3              [0, 156]  {'hashtags': [], 'symbols': [], 'user_mentions...
4              [0, 197]  {'hashtags': [], 'symbols': [], 'user_mentions...
...                 ...                                                ...
3242            [0, 73]  {'hashtags': [], 'symbols': [], 'user_mentions...
3243           [0, 140]  {'hashtags': [], 'symbols': [], 'user_mentions...
3244           [0, 279]  {'hashtags': [], 'symbols': [], 'user_mentions...
3245           [0, 283]  {'hashtags': [{'text': 'GreenNewDeal', 'indice...
3246           [0, 140]  {'hashtags': [{'text': 'genderbias', 'indices'...

                                                 source  \
0     <a href="http://twitter.com/download/iphone" r...
1     <a href="http://twitter.com/download/iphone" r...
2     <a href="http://twitter.com/download/iphone" r...
3     <a href="http://twitter.com/download/iphone" r...
4     <a href="http://twitter.com/download/iphone" r...
...                                                 ...
3242  <a href="http://twitter.com/download/iphone" r...
3243  <a href="http://twitter.com/download/iphone" r...
3244  <a href="http://twitter.com/download/iphone" r...
3245  <a href="http://twitter.com/download/iphone" r...
3246  <a href="http://twitter.com/download/iphone" r...

      in_reply_to_status_id  in_reply_to_status_id_str  ...  favorite_count  \
0                       NaN                        NaN  ...               0
1                       NaN                        NaN  ...               0
2              1.358145e+18               1.358145e+18  ...            1026
3              1.358144e+18               1.358144e+18  ...            2880
4                       NaN                        NaN  ...            7765
...                     ...                        ...  ...             ...
3242                    NaN                        NaN  ...           75938
3243                    NaN                        NaN  ...               0
3244                    NaN                        NaN  ...           32256
3245                    NaN                        NaN  ...            7733
3246                    NaN                        NaN  ...               0

      favorited retweeted lang  possibly_sensitive  \
0         False     False   en                 NaN
1         False     False   en                 NaN
2         False     False   en                 0.0
3         False     False   en                 0.0
4         False     False   en                 0.0
...         ...       ...  ...                 ...
3242      False     False   en                 NaN
3243      False     False   en                 NaN
3244      False     False   en                 0.0
3245      False     False   en                 0.0
3246      False     False   en                 NaN

                                      extended_entities  quoted_status_id  \
0                                                   NaN               NaN
1                                                   NaN               NaN
2                                                   NaN               NaN
3     {'media': [{'id': 1358145216155426825, 'id_str...               NaN
4                                                   NaN      1.358113e+18
...                                                 ...               ...
3242                                                NaN               NaN
3243                                                NaN               NaN
3244                                                NaN      1.181923e+18
3245                                                NaN               NaN
3246                                                NaN      1.181696e+18

      quoted_status_id_str                            quoted_status_permalink  \
0                      NaN                                                NaN
1                      NaN                                                NaN
2                      NaN                                                NaN
3                      NaN                                                NaN
4             1.358113e+18  {'url': 'https://t.co/CcVxgDF6id', 'expanded':...
...                    ...                                                ...
3242                   NaN                                                NaN
3243                   NaN                                                NaN
3244          1.181923e+18  {'url': 'https://t.co/ODpoyZI83r', 'expanded':...
3245                   NaN                                                NaN
3246          1.181696e+18  {'url': 'https://t.co/S9q3D4wGcb', 'expanded':...

                                          quoted_status
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4     {'created_at': 'Sat Feb 06 18:00:02 +0000 2021...
...                                                 ...
3242                                                NaN
3243                                                NaN
3244  {'created_at': 'Wed Oct 09 13:22:07 +0000 2019...
3245                                                NaN
3246                                                NaN

[3247 rows x 31 columns]

In [23]:
tweet_id = tweet_data.loc[0:3246,'id']
print(tweet_id)

0       1358149122264563712
1       1358147616400408576
2       1358145332316667909
3       1358145218407759875
4       1358144207333036040
               ...
3242    1181935928249606146
3243    1181932554552827905
3244    1181932460516478976
3245    1181927615340453899
3246    1181804625588051968
Name: id, Length: 3247, dtype: int64

In [25]:
tweet_created_at = tweet_data.loc[0:3246,'created_at']
print(tweet_created_at)

0      2021-02-06 20:22:38+00:00
1      2021-02-06 20:16:39+00:00
2      2021-02-06 20:07:35+00:00
3      2021-02-06 20:07:07+00:00
4      2021-02-06 20:03:06+00:00
                  ...
3242   2019-10-09 14:14:19+00:00
3243   2019-10-09 14:00:54+00:00
3244   2019-10-09 14:00:32+00:00
3245   2019-10-09 13:41:17+00:00
3246   2019-10-09 05:32:34+00:00
Name: created_at, Length: 3247, dtype: datetime64[ns, UTC]

In [26]:
import datetime 
from datetime import datetime

In [52]:
def time_in_hours(file):
    tweet_time = file.loc[0:3246,'created_at']
    #for row in tweet_time:
    #    time = row.time()
    #    row_new = time.hour + (time.minute)/60 + (time.minute)/(60**2)
    #    df1 = pd.DataFrame({'created_at':[row_new]})
    df = pd.concat([pd.DataFrame([row.time().hour + (row.time().minute)/60 + (row.time().minute)/(60**2)], columns=['time_in_hours']) for row in tweet_time], ignore_index=True,)
    print(df)
    return df

created_at_dataframe = time_in_hours(tweet_data)
print(created_at_dataframe)

      time_in_hours
0         20.372778
1         20.271111
2         20.118611
3         20.118611
4         20.050833
...             ...
3242      14.237222
3243      14.000000
3244      14.000000
3245      13.694722
3246       5.542222

[3247 rows x 1 columns]
      time_in_hours
0         20.372778
1         20.271111
2         20.118611
3         20.118611
4         20.050833
...             ...
3242      14.237222
3243      14.000000
3244      14.000000
3245      13.694722
3246       5.542222

[3247 rows x 1 columns]

In [53]:
creation_time = tweet_data.loc[0:3246,'created_at']
full_text = tweet_data.loc[0:3246,'full_text']
creation_time_df = pd.DataFrame({'created_at':creation_time})
full_text_df = pd.DataFrame({'full_text':full_text})
print(creation_time_df)
print(full_text_df)

                    created_at
0    2021-02-06 20:22:38+00:00
1    2021-02-06 20:16:39+00:00
2    2021-02-06 20:07:35+00:00
3    2021-02-06 20:07:07+00:00
4    2021-02-06 20:03:06+00:00
...                        ...
3242 2019-10-09 14:14:19+00:00
3243 2019-10-09 14:00:54+00:00
3244 2019-10-09 14:00:32+00:00
3245 2019-10-09 13:41:17+00:00
3246 2019-10-09 05:32:34+00:00

[3247 rows x 1 columns]
                                              full_text
0     RT @RepEscobar: Our country has the moral obli...
1     RT @RoKhanna: What happens when we guarantee $...
2                     (Source: https://t.co/3o5JEr6zpd)
3     Joe Cunningham pledged to never take corporate...
4     What’s even more gross is that Mace takes corp...
...                                                 ...
3242  Autocrats: “Jump!”\nTrump: “How high?”\n\n- Tr...
3243  RT @HeidiNBC: NEW: Donald Trump's decision to ...
3244  Trump decision isn’t about drawing down US mil...
3245  Federal govs are failing to act on the climate...
3246  RT @LeanInOrg: Thank you @AOC for highlighting...

[3247 rows x 1 columns]

In [54]:
final_dataframe = pd.concat([created_at_dataframe, creation_time_df, full_text_df], axis=1)
print(final_dataframe)

      time_in_hours                created_at  \
0         20.372778 2021-02-06 20:22:38+00:00
1         20.271111 2021-02-06 20:16:39+00:00
2         20.118611 2021-02-06 20:07:35+00:00
3         20.118611 2021-02-06 20:07:07+00:00
4         20.050833 2021-02-06 20:03:06+00:00
...             ...                       ...
3242      14.237222 2019-10-09 14:14:19+00:00
3243      14.000000 2019-10-09 14:00:54+00:00
3244      14.000000 2019-10-09 14:00:32+00:00
3245      13.694722 2019-10-09 13:41:17+00:00
3246       5.542222 2019-10-09 05:32:34+00:00

                                              full_text
0     RT @RepEscobar: Our country has the moral obli...
1     RT @RoKhanna: What happens when we guarantee $...
2                     (Source: https://t.co/3o5JEr6zpd)
3     Joe Cunningham pledged to never take corporate...
4     What’s even more gross is that Mace takes corp...
...                                                 ...
3242  Autocrats: “Jump!”\nTrump: “How high?”\n\n- Tr...
3243  RT @HeidiNBC: NEW: Donald Trump's decision to ...
3244  Trump decision isn’t about drawing down US mil...
3245  Federal govs are failing to act on the climate...
3246  RT @LeanInOrg: Thank you @AOC for highlighting...

[3247 rows x 3 columns]

In [55]:
final_dataframe.to_csv('final_dataframe')